<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
</head>
<body>
    <a href="http://localhost:80"><h3>Домой</h3></a>
    <form action="http://localhost:8080" autocomplete="on">
        <h1>Авторизация</h1>
        <label>
            Логин
            <br>
            <input type="text">
            <br>
        </label>
        <label>
            Пароль
            <br>
            <input type="password">
        </label>
        <br>
        <input type="submit" value="Log in">
    </form>
</body>
</html>
