<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
</head>
<body>
    <a href="http://localhost:80"><h3>Домой</h3></a>
    <form action="http://localhost:8080/sessions" autocomplete="on" method="POST" name="logForm">
        <h1>Авторизация</h1>
        <label>
            Логин
            <br>
            <input type="text" name="login">
            <br>
        </label>
        <label>
            Пароль
            <br>
            <input type="password" name="password">
        </label>
        <br>
        <input type="submit" value="Войти">
    </form>
    <script type="text/javascript" src="../script/utils.js"></script>
    <script type="text/javascript" src="../script/login.js"></script>
</body>
</html>
